body {
  background-color: white;
  text-align: center;
  background-color: blue;
  color: black;
}
h1 {
  background-color: blue;
  text-align: start;
  font-size: 400%;
  color: white;
}
.p {
  font-size: 40px;
  text-align: start;
  color: white;
}
.from {
}
label {
  color: white;
  font-size: 20px;
}
input {
  width: auto;
}
div {
}
.log {
  color: red;
}
.sub {
  font-size: 20px;
}
